<div class="navBar">
  <store-nav></store-nav>
</div>

<section id="BackGround" class="backgroudContainer">
  <img class="background_">
  <span class="backgroundText">See, Speak and Hear of No bad Hair Day <br /> with StyledByAdeola</span>
</section>

<div id="Categories" class="row">
  <div class="col"></div>
  <div class="col-md-auto">
    <store-categoryfilter></store-categoryfilter>
  </div>
  <div class="col"></div>
</div>
<br />

<div id="ListOfAllProducts" class="row">
  <div class="col-12 ">
    <store-product-list></store-product-list>
  </div>
</div>

<div id="PaginationComponent" class="row">
  <div class="col-12">
    <store-pagination></store-pagination>
  </div>
</div>

<!--<div class="col-3 fixed-bottom mb-1">
  <a class="btn btn-block btn-secondary" routerLink="/admin">
    Administration
  </a>
</div>-->
