<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="brand nav-item">
    <img class="navcompanyicon" src="assets/img/styledByAdeolaLogo.png">
  </a>

  <div class="cart">
    <store-cartsummary></store-cartsummary>
  </div>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Lookbook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-white" href="#">FAQs</a>
      </li>
    </ul>
  </div>
</nav>
